<!-- ### FOOTER ### -->
<footer>
    <div class="footer__container">
        <a href="mailto:vadyarus@gmail.com" class="footer__link">vadyarus@gmail.com</a>
        <ul class="social-list">
            <li class="social-list__item">
                <a class="social-list__link" href="https://www.linkedin.com/in/vadim-maltsev-15651097/" target="_blank" title="LinkedIn">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="https://www.youtube.com/channel/UCZWKKoTvXv1oIoXZbbfNQSQ" target="_blank" title="YouTube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="https://github.com/vadyarus" target="_blank" title="GitHub">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
        </ul>
        <p style="font-size: 0.4em;">
            <a href="/pages/privacy-policy.html" class="footer__link">Privacy Policy</a>
        </p>
    </div>    
</footer>