<!-- ### HEAD_TEMPLATE_START ### -->
 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Normalize -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

<!-- Fonts used by the website -->
<link rel="stylesheet" href="/fonts/blackgold-cufonfonts-webfont/style.css"/>
<link rel="stylesheet" href="/fonts/poppins-cufonfonts-webfont/style.css"/>

<!-- Fontawesome -->
<script async src="https://kit.fontawesome.com/f59ee6e65d.js" crossorigin="anonymous"></script>

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen" />

<!-- Cookie utilities -->
<script src="/scripts/utils/cookie_utils.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HNHD3090QK"></script>

<!-- Analytics Setup Script -->
<script src="/scripts/utils/analytics_setup.js"></script>

<!-- Script to send link clicks to Google Analytics -->
<script src="/scripts/utils/analytics.js" defer></script>

<!-- ### HEAD_TEMPLATE_END ### -->