<!DOCTYPE html>
<html lang="en">
    <head>
        <title>404 | Vadim Maltsev</title>

        <!-- HEAD TEMPLATE -->

        <link rel="stylesheet" type="text/css" href="/styles/style_404.css" media="screen" />
    </head>
    <body>
        <!-- HEADER TEMPLATE -->
        
        <!-- ### 404 ### -->
        <section class="section-404" id="404">
            <h2 class="section__title section__title--404">404</h2>
            <h3>Page Not Found</h2>
            <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
            <a href="/" class="btn">Go to Homepage</a>
        </section>
    </body>
</html>