<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vadim Maltsev</title>

        <!-- HEAD -->

        <link rel="stylesheet" type="text/css" href="/styles/style_index_section--intro.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/styles/style_index_section--services.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/styles/style_index_section--aboutme.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/styles/style_index_section--skills.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/styles/style_index_section--mywork.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/styles/style_gallery.css" media="screen" />
        <script src="/scripts/layout.js" defer></script>
    </head>
    <body>
        <!-- ### HEADER ### -->
        <header class="section__header"></header>

        <!-- ### INTRODUCTION ### -->
        <section class="intro__section" id="home">
            <h1 class="section__title intro__section--title">
                Hi, I am <strong>Vadim Maltsev</strong>
            </h1>
            <p class="section__subtitle intro__section--subtitle">Designer & 3D Visualizer</p>
            <div class="intro__section--img-container">
                <img src="/images/vadim.png" alt="a picture of Vadim Maltsev smiling" class="intro__section--img">
            </div>
        </section>

        <!-- ### MY SERVICES ### -->
        <section class="my-services" id="services">
            <h2 class="section__title section__title--services">What I do</h2>
            <div class="services">
                <div class="service">
                    <h3>Drafting + Design</h3>
                    <p>With expertise in architectural drafting and design, I offer comprehensive solutions tailored to meet your specific needs.
                        Whether you require detailed floor plans, elevation drawings, or construction documentation, I provide precise and meticulous drafting services.
                        I combine my technical proficiency with a keen eye for design aesthetics, ensuring that each project reflects your vision while adhering to industry standards.
                        From residential buildings to commercial spaces, my goal is to deliver functional and visually stunning designs that optimize space utilization and create a seamless flow throughout the built environment.</p>
                </div> <!-- / service -->

                <div class="service">
                    <h3>3D Visualization</h3>
                    <p>Unlock the potential of your designs with immersive and captivating 3D visualizations.
                        Through state-of-the-art technology and meticulous attention to detail, I transform architectural plans into realistic and vibrant representations.
                        From interior renderings that showcase material textures, lighting, and furniture arrangements to exterior perspectives that capture the essence of your project in its context, my 3D visualizations bring your vision to life.
                        Whether you are a developer, architect, or interior designer, these dynamic visuals enable you to communicate your ideas effectively, attract clients, and make informed decisions throughout the design process.</p>
                </div> <!-- / service -->

                <div class="service">
                    <h3>BIM Management</h3>
                    <p>As a skilled BIM (Building Information Modeling) manager, I provide comprehensive support and coordination to streamline your construction projects.
                        By leveraging the power of BIM technology, I facilitate collaboration between various stakeholders, including architects, engineers, and contractors.
                        From conceptual design to construction and facility management, I oversee the entire BIM process, ensuring accurate model creation, clash detection, and data integration.
                        By adopting BIM methodologies, your project benefits from improved efficiency, reduced costs, enhanced coordination, and increased overall project quality.
                        Trust me to optimize your project workflow, minimize errors, and maximize the potential of BIM for your construction projects.</p>
                </div> <!-- / service -->
            </div> <!-- / services -->

            <a href="#work" class="btn">My Work</a>
        </section>

        <!-- ### ABOUT ME ### -->
        <section class="about-me__section" id="about">
            <h2 class="section__title about-me__section--title">Who I am</h2>
            <p class="section__subtitle about-me__section--subtitle">Architectural designer & 3D Visualizer based out of Lancaster, PA</p>

            <div class="about-me__section--body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incidididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incidididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </div>

            <img class="about-me__section--img" src="/images/4763222.jpg" alt="Vadim leaning against a bus">
        </section>


        <!-- ### SKILLS ### -->
        <section class="my-skills" id="skills">
            <h2 class="section__title section__title--skills">My skills</h2>
            <div id="skills-wrapper" class="skills"></div>
        </section>

        <!-- ### MY WORK ### -->
        <section class="my-work__section" id="work">
            <h2 class="section__title my-work__section--title">My work</h2>
            <!-- PORTFOLIO -->
        </section>

        <!-- ### FOOTER ### -->
        <footer></footer>
    </body>
</html>