/* Gallery Page */

.gallery {
    background-color: var(--clr-dark);
    position: relative;
    color: var(--clr-light);
    padding: 2em 0 0 0;
    text-align: center;
    width: 100%;
}

.portfolio__video {
    max-width: var(--width-max);
    padding-top: 2em;
}

iframe.portfolio__video {
    max-width: var(--width-max);
    aspect-ratio: 16 / 9;
    height: auto;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: var(--width-max);
    margin: 2em auto 0 auto;
}

.portfolio__item {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.portfolio__img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    transition:
    transform 200ms cubic-bezier(0.5, 0, 0.5, 1),
    opacity 200ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__item_alt {
    pointer-events: none;
    display: none;
}

.portfolio__img:hover + .portfolio__item_alt {
    pointer-events: none;
    display: block;
    position: absolute;
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);

    z-index: 10;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    text-align: center;
    background-attachment: rgba(0, 0, 0, 0.4);
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: 0.5;
}
/*
@media (min-width: 1000px) {
    .gallery {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: var(--width-max);
    }
}

.yt-cover {
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
}
*/

.pswp__custom-caption {
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--clr-light);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;

    flex: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    pointer-events: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0,0,0,0.5);
}

@media (max-width: 600px) {
    .pswp__custom-caption {
        font-size: 0.8rem;
        padding: 0 5px;
    }
}