*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: "Poppins", sans-serif;
    --ff-secondary: "BlackGold", serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-img-bg: #404040;
    --clr-footer: #141414;
    --clr-accent: #5c74ad;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
          0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

    --ds: drop-shadow(0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25))
          drop-shadow(0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15));

    --width-tablet: 600px;
    --width-max: 1000px;

    --cols-portfolio: 3;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;

    scroll-padding-top: 7em;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;

    padding-top: 6.5em;
}

section {
    padding: 5em, 2em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: var(--fw-bold);
}

video {
    width: 100%;
    height: auto;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section__title {
    margin-bottom: 0.25em;
}


.section__title strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}


.section__subtitle--gallery {
    padding-top: 2em;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
    font-size: var(--fs-h3);
}

/* Header Section */

.section__header {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays on top of everything else */
    background-color: var(--clr-light);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.section__header--container {
    margin: 0;
    padding: 1em;
    width: 100%;
    height: 6.5em;
}

.section__header--logo {
    width: 60px;
    flex-shrink: 0;
    transition: width 0.3s ease;
}

.section__header--logo img {
    width: 100%;
    height: auto;
}

.section__header--nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.section__header--nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    height: 3em;
    z-index: 1000;
}


.section__header--nav-toggle:focus {
    outline: 0px solid var(--clr-accent);
}

.nav-open .section__header--nav {
    transform: translateX(0);
}

.nav-open .section__header--nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.nav-open .hamburger,
.nav-open .hamburger::after,
.nav-open .hamburger::before {
    background: var(--clr-light);
}

/* Hamburger Section */

.hamburger {
    display: block;
    position: relative;
    padding: 0;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

@media (min-width: 800px) {
    .section__header {
        width: 100%;
    }

    .section__header--container {
        display: grid;
        grid-template-areas: "logo nav";
    }

    .section__header--logo {
        width: 80px;
        grid-area: logo;
    }

    .section__header--nav-toggle {
        display: none;
    }

    .section__header--nav {
        background-color: #ffffff00;
        position: relative;
        transform: translateX(0);
        grid-area: nav;
        width: 100%;
        transition: none;
    }

    .nav__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content:flex-end;
        align-items: right;
    }

    .nav__link {
        display: inline;
        padding: 8px;
        background-color: var(--clr-light);
        color: var(--clr-dark);
        font-weight: var(--fw-bold);
        font-size: var(--fs-h3);
        text-decoration: none;
        height: 100%;
    }

    .nav__link:hover {
        background-color: var(--clr-accent);
        color: var(--clr-light);
    }
}

/* Footer Section */

footer {
    background: var(--clr-footer);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list__items {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 0 0.5em;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}