/* My Services Section */

.my-services {
    background-color: var(--clr-img-bg);
    background-image: url("../images/services_4k.jpg");
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
    padding: 2em;
}

.section__title-services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display:block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .services {
        display: flex;
        max-width: var(--width-max);
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}