/* My Work Section */
.my-work__section {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    padding: 2em 0 0 0;
}

.my-work__section--subtitle {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}